# Normalise line endings for text, leave binaries alone.
* text=auto

*.png binary
*.jpg binary
*.gif binary
*.pdf binary
*.webm binary
*.npy binary
*.h5 binary
*.ipynb binary

yarn.lock linguist-generated=true
